.container {
  display: flex;
  margin: 1vh 2vw;
  padding: 1vh 2vw;
  max-height: 20vh;
  align-items: center;
  justify-content: space-evenly;
  /* border: blue solid 1px; */
}

.logo {
  max-width: 20vw;
  max-height: 20vh;
  margin-right: 1vw;
}
