.container {
  display: flex;
  margin: 1vh 2vw;
  padding: 10vh 2vw;
  max-height: 20vh;
  align-items: center;
  justify-content: space-evenly;
  background-color: #81A4CD;
  border-radius: 10px;
  font-size: 4vh;
}

.logo {
  max-width: 15vw;
  max-height: 15vh;
  margin-right: 2vw;
  margin-right: 2vw;
}
