.container {
  border: 1.5px black solid;
  padding: 0 3vw;
  z-index: 2;
  box-shadow: 5px 10px;
}
.userButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
  /* border: blue 1px solid; */
}

.userButtonContainer {
  margin-bottom: 2vh;
}

.labelContainer {
  margin: 3vh 1vw;
  /* border: 1px red solid; */
}
